apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: fintech
spec:
  replicas: 3
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: fintech-payment:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: PAYMENT_PARTNER_DELAY_MS
              value: "300"
            - name: OTEL_SERVICE_NAME
              value: "fintech-payment"
            # Optional: set OTEL_EXPORTER_OTLP_ENDPOINT to export traces to an OTel Collector
            # - name: OTEL_EXPORTER_OTLP_ENDPOINT
            #   value: "http://otel-collector:4317"
          resources:
            requests:
              cpu: "200m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
