apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: fintech
spec:
  selector:
    app: payment-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
